<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MioLink.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <applicationSettings>
        <MioLink.Properties.Settings>
            <setting name="UpdateAntLog" serializeAs="String">
                <value>ANT Log</value>
            </setting>
            <setting name="UpdateConnectionLog" serializeAs="String">
                <value>Connection log</value>
            </setting>
        </MioLink.Properties.Settings>
    </applicationSettings>
</configuration>
